html {
  width: 100vw;
}

body {
  margin: 0;
  padding: 0;
  min-width: fit-content;
  background-color: black;
  overflow-x: auto;
  padding: 0 5% 5%;
}

h1 {
  color: white;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
}

.waldo {
  border: 5px solid white;
  position: relative;
  height: 100vh;
}

.waldoImage {
  max-height: 100%;
}

.target {
  background-image: url("./images/target.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  position: absolute;
}

.hidden {
  display: none;
}
